 font: 20px/1.5 Arial, Helvetica, sans-serif;
  padding:0;
  margin:0;
  background-color:#ffffff;
}

/* Global */


.page-wrapper {
        max-width: 1000px;
        border: 2px solid black;
        box-shadow: 5px 5px 5px rgba(0,0,0,.4);
        margin; auto;
        }
        nav {
        width: 100%; height: 50px;
        background: white;
    }
    .banner {
        width: 100%; height: 350px;
        background: blue;
    }
    .content {
        width: 98%; min-height: 400px;
        padding: 1%;
        background: white;
    }
    .footer {
        width: 100%; height: 30px;
        background: green;
    }
    
.container{
  width:80%;
  margin:auto;
  overflow: hidden;
  text-align: center;
}


ul{
  margin: 0;
  padding: 0;
}

/* Header **/
header{
  background:#074f7a;
  color:#ffffff;
  padding-top:30px;
  min-height:70px;
  border-bottom:#28cf48  3px solid;
}

 header a{
  color:#ffffff;
  text-decoration:none;
  text-transform: uppercase;
  font-size:16px;
 }


header li{
  float:left;
  display:inline;
  padding: 0 20px 0 20px;
}

header #branding{
  float:left;
}

 header #branding h1{
   margin:0;
 }

 header nav{
   float:right;
   margin-top:20px;
 }

header .highlight, header .current a{
  color:#28cf48;
  font-weight:bold;
}

header a:hover{
  color:#28cf48;
  font-weight:bold;
}

#branding img{
  float: right;
  float: left;
  width: 70px;
  height: 100px;
}

.logout-form button{
  float: right;
  padding: 5px;
  border: none;
  border-radius: 5px;
  background:#28cf48;
  font-size: 15px;
  color:#fff;
  cursor: pointer;
}

.logout-form button:hover{
  background-color:#074f7a;
  color:#fff;
}


.error{
  color: red;
  font-size: 20px;
}

.loan{
  margin: 40px;
}

h2{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px;
  text-transform: uppercase;
  font-size: 48px;
}
h3{
  margin: 0;
  padding: 20;
  text-align: center;
  margin-bottom: 50px !important;
  text-transform: uppercase;
  font-size: 48px;
}

h4{
  margin: 0;
  padding: 0;
  text-align: center;
  margin-bottom: 50px !important;
  text-transform: uppercase;
  font-size: 48px;
}

h5{
  margin: 0;
  padding: 0;
  text-align: center;
  color:#fe3333;
  margin-top: 40px;
}


h6{
font-style: italic;
}

.radioBox{
  position: relative;
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-top: 40px;
}

.radioBox1{
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-top: 40px;
  display: none;
}

.radioBox3{
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-top: 40px;
  display: none;
}

.radioBox4{
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-top: 40px;
  display: none;
}

.radioBox5{
  box-sizing: border-box;
  margin-bottom: 40px;
  margin-top: 40px;
  display: none;
}

.radioBox7{
  display: none;
}

.inputBox{
position: relative;
box-sizing: border-box;
margin-bottom: 40px;
}

.input{
  position: relative;
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  font-size:24px;
  border-bottom: 2px solid rgba(0,0,0,.5);
}

.inputText{
  position: relative;
  line-height: 50px;
  font-size: 24px;
  transition: .5s;
  opacity: .5;
}

.focus .inputText{
  transform: translateY(-30px);
  font-size: 18px;
  opacity: 1;
  color: #00bcd4;
}

.num{
	position:relative;
}

.number{
	position: absolute;
}

.value{
	position: absolute;
	top:0;
	color: transparent !important;
	background: transparent;
	border:none;
}

.formBox{
  margin-top: 50px;
  padding: 50px;
}

footer{
  padding:20px;
  margin-top:20px;
  color:#ffffff;
  background-color:#28cf48;
  text-align: center;
}

header{
  padding-bottom:20px;
}

/* Media Queries */
@media(max-width: 768px){
  header #branding,
  header nav,
  header nav li, .logout-form button{
    float: right;
    padding: 5px;
    border: none;
    border-radius: 5px;
    background:#28cf48;
    font-size: 15px;
    color:#fff;
    cursor: pointer;
  }
}